<div class="container">
  <%= render 'shared/errors' %>
  <div class="justify-content-md-center row mt-4">
    <%= form_with(model: @article, data: { turbo: false }, local: true) do |f| %>
      <div class="mb-4 form-group row">
        <label for="formGroupExampleInput" class="form-label">
          <%= f.label :title %><br/>
        </label>
        <div>
          <%= f.text_field :title, class: "form-control", placeholder: "Title of the article" %>
        </div>
      </div>

      <div class="mb-4 form-group row">
        <label for="formGroupExampleInput2" class="form-label">
          <%= f.label :description %><br/>
        </label>
        <div>
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of the article" %>
        </div>
      </div >
      
      <div class="btn-group d-flex justify-content-around">
          <%= f.submit class:"btn btn-form-save p-2 same-size" %>
          <%= link_to 'Cancel and Return to articles listing', articles_path, class:"btn btn-form-cancel p-2 same-size" %>
      </div>
    <% end %>
  </div>
</div>
